.card-list {
    list-style: none;
    padding-top: 70px;
    padding-left: 0;
}

/* Медиа-запрос для ширины 768px (меньше 1279px)*/
@media all and (max-width:1279px) {
    .card-list {
        padding-top: 60px;
    }
}

/* Медиа-запрос для ширины 320px (меньше 767px)*/
@media all and (max-width:767px) {
    .card-list {
        padding-top: 40px;
    }
}