.signup {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.signup__content {
    width: 396px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.signup__logo {
    width: 38px;
    height: 38px;
}

.signup__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.signup__label {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

.signup__input {
    height: 46px;
    background: #2F2F2F;
    border-radius: 8px;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    padding: 0 15px;
    width: calc(100% - 2*15px);
    display: block;
    margin-top: 10px;
}

.signup__input_red {
    border: 1px solid #EE3465;
}

.signup__input-error {
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 0;
    position: absolute;
    top: 74px;
    display: block;
}

.signup__submit {
    background-color: #4285F4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    height: 45px;
    width: 100%;
    border: none;
    padding: 0;
    margin-top: 91px;
    transition: opacity .3s ease-in-out;
}

.signup__submit_disabled {
    background-color: #2F2F2F;
    color: #8B8B8B;
}

.signup__to-login {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    text-decoration: none;
    margin-top: 16px;
    display: block;
    transition: opacity .3s ease-in-out;
}

.signup__to-login_blue {
    color: #4285F4;
}

.signup__to-login:hover, .signup__submit:hover {
    opacity: 0.6;
}

/* Медиа-запрос для ширины 320px (меньше 767px)*/
@media all and (max-width:767px) {
    .signup__content {
        width: calc(100% - 2*30px);
        align-items: center;
    }
    .signup__title {
        text-align: center;
    }
    .signup__form {
        width: 100%;
    }
    .signup__submit {
        font-size: 12px;
        line-height: 15px;
    }
    .signup__to-login {
        font-size: 12px;
        line-height: 15px;
        margin-top: 14px;
    }
}